.comments-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.comments-form__input {
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #cccccc;
}

.comments-form__btn {
  padding: 8px;
  color: #fff;
  background: #4997d0;
  border: none;
  border-radius: 3px;
}
